<html>
  <head>

  </head>
  <body>
    <h1>
      <%= msg %>
    </h1>


    <form id="set" action="/setPassword" method="post">
      <input type="password" name="password" placeholder="password">
      <input type="password" name="confirmPassword" placeholder="confirm password">
      <button name="button">Submit</button>
    </form>

  </body>
</html>
